<table class="table table-striped table-hover table-details">
	<thead>
		<tr>
			<th>
				Datum
			</th>
			<th>
				Offener Betrag
			</th>
			<th>
				Status
			</th>
			<th>
				Status
			</th>
		</tr>
	</thead>
	<tbody id="finances">
		<%= render @finances %>
	</tbody>

</table>

<div id="paginator">
	<%= paginate @finances, remote: true %>
</div>