<div class="container background-main ">
	<h1 class='head-font-italic'>Finance</h1>

	<table class="table table-striped table-hover table-details">
		<thead>
			<tr>
				<th>
					Jahr
				</th>
				<th>
					Monat
				</th>
				<th>
					Offener Betrag
				</th>
				<th>
					Status
				</th>
			</tr>
		</thead>
		<tbody id="finances">
			<%= render @finances %>
		</tbody>

	</table>

	<div id="paginator">
		<%= paginate @finances, remote: true %>
	</div>
</div>
