<div class="container background-main ">
	<h3 class='#'>Finance</h3><br>

	<% if admin_types.include?(current_user.try(:type)) %>
		<%= render 'admin_finance' %>
	<% else %>
		<%= render 'homeowner_finance' %>
	<% end %>
</div>
