<h1>Finance</h1>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				Year
			</th>
			<th>
				Month
			</th>
			<th>
				Open Payment
			</th>
			<th>
				Status
			</th>
		</tr>
	</thead>
	<tbody>
		<%= render @finances %>
	</tbody>

</table>
<%#= paginate @finances %>