<h1>Finance</h1>

<table class="table table-striped">
	<thead>
		<tr>
			<th>
				Year
			</th>
			<th>
				Month
			</th>
			<th>
				Open Payment
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<%= render @finances %>
	</tbody>

	<%#= paginate @finances %>
</table>