<footer class=" footer">
	<div class="col-sm-6 footer-copyright post-admin">&copy; Berlin 2017</div><!-- Linking the footer to my own posrtfolio website -->
	<div>
		<%= link_to 'Sign In', user_session_path, class: "col-sm-6 post-admin footer-signin" %>
	</div>
</footer>