<% @home_posts.each do |home_post|%>
	<div >
		<h3>
			<%= home_post.title %>
		</h3>
		<p class='text-muted' id='post-date'><i><%= home_post.date %></i></p>
		<p>
			<%= home_post.description.truncate(45) %>
		</p>
	</div>
	<% if current_user.try(:type) == 'AdminUser' %>
		<p>
			<%= link_to 'Edit', edit_home_post_path(home_post), :class => "", id: "edit_#{home_post.id}" %>
		</p>
	<% end %>
	<hr>
	<br>	
<% end %>