<%= @home_posts.each do |home_post|%>
	<div class=''>
		<h3>
			<%= home_post.title %>
		</h3>
		<hr>
		<p id='post-date'><i><%= home_post.date %></i></p>
		<p>
			<%= home_post.description.truncate(45) %>
		</p>
	</div>	
<% end %>