<div class="col-md-4 icons police">
	<p class="icon-address">
		1234567890
		Somestr.80
		10920
		Somecity
	</p>
</div>
<div class="col-md-4 icons hospital">
	<p class="icon-address">
		1234567890
		Somestr.80
		10920
		Somecity
	</p>
</div>
<div class="col-md-4 icons fireman">
	<p class="icon-address">
		1234567890
		Somestr.80
		10920
		Somecity
	</p>
</div>
