<div class="container ">
	<div class="row homepage-clear">
		
		<div class="col-md-8">
			<div class="#">
				<h1 class='head-font-bold head-homepage'>Sudetenlandweg</h1>
				<h3 class='head-font-italic head-homepage-small'>Sankt Andreasberg</h3>
			</div>
		</div>
		<div class="col-md-4">
			<div>
				<%= link_to 'Sign In', user_session_path, class: "btn btn-primary pull-right home-signin " %>
			</div>
		</div>

		<div class='col-md-12'>
			<div class="carousel slide carousel-layout" id="carousel-284775" data-interval="3000">
				<!-- <ol class="carousel-indicators">
					<li class="active" data-slide-to="0" data-target="#carousel-284775">
					</li>
					<li data-slide-to="1" data-target="#carousel-284775">
					</li>
					<li data-slide-to="2" data-target="#carousel-284775">
					</li>
				</ol> -->
				<div class="carousel-inner">
					<div class="item active">
						<img alt="Carousel Bootstrap First" src="http://lorempixel.com/output/sports-q-c-1600-500-1.jpg" />
						
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Second" src="http://lorempixel.com/output/sports-q-c-1600-500-2.jpg" />
						
					</div>
					<div class="item">
						<img alt="Carousel Bootstrap Third" src="http://lorempixel.com/output/sports-q-c-1600-500-3.jpg" />
						<div class="carousel-caption">
							<!-- <h4>
								Third Thumbnail label
							</h4>
							<p>
								Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.
							</p>
						</div> -->
					</div>
				</div> <a class="left carousel-control" href="#carousel-284775" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a> <a class="right carousel-control" href="#carousel-284775" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3">
				<h4 class='head-font-bold header-details-grey'>
					Sankt Andreasberg, Braunlage
				</h4>
				<p class="text-muted">
					Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod <a href='http://www.stadt-braunlage.com/' target="_blank">website Sankt Andreasberg</a> et feugiat ipsum consequat eu.</small>
				</p>
				<img class='image-small' alt="Bootstrap Image Preview" src="http://lorempixel.com/140/140/" />
			</div>
			<div class="col-md-6">	
				<div class=''>
					<h2 class='head-font-bold header-details-blue'>Was ist los?</h3>
					<p>Plaid bushwick meditation four loko portland keytar. Marfa pop-up YOLO affogato meh la croix art party neutra pinterest tote bag. Vegan lumbersexual literally, activated charcoal scenester hot chicken kogi. Post-ironic tbh sustainable flexitarian succulents palo santo chartreuse scenester fixie jianbing. Man braid put a bird on it retro farm-to-table try-hard shabby chic tilde iceland. Hella 90's shaman salvia, chia small batch hot chicken iPhone bespoke etsy copper mug fashion axe tumeric keytar. Narwhal pok pok PBR&B, edison bulb deep v portland air plant. Twee mustache narwhal af cliche single-origin coffee. Pug listicle venmo, mumblecore air plant letterpress pok pok roof party flexitarian tattooed.</p>
				</div>
			</div>
			<div class="col-md-3">
				<h4 class='head-font-bold header-details-grey'>
					Side Text
				</h4>
				<p class="text-muted">
					Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
				</p>
				

				<h4 class='head-font-bold header-details-grey'>Amtliche Bekanntmachungen</h4>
				<p class="text-muted">Glossier distillery activated charcoal hot chicken, velit master cleanse copper mug meditation cloud bread brooklyn retro. Farm-to-table crucifix ut, meggings wolf franzen neutra iPhone skateboard brunch ullamco tumeric bushwick etsy waistcoat. Craft beer stumptown literally austin chia, photo booth shoreditch chartreuse edison bulb tacos vape occaecat tofu.  </p>
				

				<!-- <button type="button" class="btn btn-info btn-block modal-btn glyphicon glyphicon-file"> </button> -->
			</div>
		</div>
			

		<div class="col-md-3">
			<h4 class='head-font-bold header-details-grey'>
				Müllabfuhr
			</h4>
			<p class="text-muted">
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam <a href='https://www.landkreis-goslar.de/index.phtml?&sNavID=1749.146&object=tx,1749.13&ModID=10&FID=62.356.1&kat=&ort=0&call=0&sfwort=0&La=1' target="_blank">website sperrmüllabfuhr</a> sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non <a href='https://www.landkreis-goslar.de/media/custom/94_3213_1.PDF?1481182791' target="_blank">website Müllabfuhr</a> et, pharetra in dolor. Sed iaculis posuere diam ut cursus. 
			</p>
		</div>
			
		<div class="col-md-6">
			 
			<h2 class='head-font-bold header-details-blue sub-header'>Main Sub Text</h3>
			<p class="text-muted">
				Lorem ipsum dolor sit amet, <strong>consectetur adipiscing elit</strong>. Aliquam eget sapien sapien. Curabitur in metus urna. In hac habitasse platea dictumst. Phasellus eu sem sapien, sed vestibulum velit. Nam purus nibh, lacinia non faucibus et, pharetra in dolor. Sed iaculis posuere diam ut cursus. <em>Morbi commodo sodales nisi id sodales. Proin consectetur, nisi id commodo imperdiet, metus nunc consequat lectus, id bibendum diam velit et dui.</em> Proin massa magna, vulputate nec bibendum nec, posuere nec lacus. <small>Aliquam mi erat, aliquam vel luctus eu, pharetra quis elit. Nulla euismod ultrices massa, et feugiat ipsum consequat eu.</small>
			</p>
		</div>
		<div class="col-md-3">
			<h4 class='head-font-bold header-details-grey'>
				Wetter
			</h4>
			<div>	
				<div id="wcom-fdde0e4ef7c2ea6d7a7975753503eab2" style="border: 0px; background-color: transparent; border-radius: 0px; color: rgb(0, 0, 0);" class="wcom-default w150x150 weather-widget">
					<div class="wcom-city">
						<a style="color: rgb(0, 0, 0);" href="http://www.wetter.com/deutschland/sankt_andreasberg/st_andreasberg/DE0012197005.html" target="_blank" rel="nofollow" title="Wetter &quot; St. Andreasberg &quot;"> St. Andreasberg </a>
					</div>
					<div id="wcom-fdde0e4ef7c2ea6d7a7975753503eab2-weather"></div>					
				</div>		
			</div>
		</div>
	</div>	
			<%= render 'footer' %>
</div>