<div id="wrapper">
            <div id="columns">
                <div class="pin blue">
                    <div class="text-wrap">
                        <blockquote>"Wenn du wissen willst, wer dich beherrscht, mußt du nur herausfinden, wen du nicht kritisieren darfst."</blockquote>
                        <p>Voltaire, französischer Philosoph</p>
                    </div>
                </div>

                <div class="pin green">
                    <div class="text-wrap">
                        <blockquote>"For every minute you're angry you lose sixty seconds of happiness."</blockquote>
                        <p>Ralph Waldo Emerson, US-amerikanischer Philosoph</p>
                    </div>
                </div>

                <div class="pin purple">
                    <div class="text-wrap">
                        <blockquote>"Bildung ist das, was übrigbleibt, wenn man alles vergessen hat, was man in der Schule lernte."</blockquote>
                        <p>Richard David Precht, deutscher Philosoph und Publizist</p>
                    </div>
                </div>

                <div class="pin orange">
                    <div class="text-wrap">
                        <blockquote>"Die meisten Menschen jagen so sehr dem Genuss nach, dass sie an ihm vorbeilaufen."</blockquote>
                        <p>Søren Aabye Kierkegaard, dänischer Philosoph und Theologe</p>
                    </div>
                </div>

                <div class="pin yellow">
                    <div class="text-wrap">
                        <blockquote>"Die Fesseln der Gewohnheit sind meist so fein, dass man sie gar nicht spürt. Doch wenn man sie dann spürt, sind sie schon so stark, dass sie sich nicht mehr zerreißen lassen."</blockquote>
                        <p>Samuel Johnson, englischer Gelehrter, Lexikograf, Schriftsteller, Dichter und Kritiker</p>
                    </div>
                </div>

                <div class="pin red">
                    <div class="text-wrap">
                        <blockquote>"Jeder dumme Junge kann einen Käfer zertreten. Aber alle Professoren der Welt können keinen herstellen."</blockquote>
                        <p>Arthur Schopenhauer, deutscher Philosoph</p>
                    </div>
                </div>

                <div class="pin blue">
                    <div class="text-wrap">
                        <blockquote>"Wer den Hafen nicht kennt, in den er segeln will, für den ist kein Wind ein günstiger."</blockquote>
                        <p>Lucius Annaeus Seneca, römischer Philosoph und Dramatiker</p>
                    </div>
                </div>

                <div class="pin orange">
                    <div class="text-wrap">
                        <blockquote>"Nicht weil es so schwer ist wagen wir es nicht, sondern weil wir es nicht wagen, ist es so schwer."</blockquote>
                        <p>Lucius Annaeus Seneca, römischer Philosoph und Staatsmann</p>
                    </div>
                </div>

                <div class="pin blue">
                    <div class="text-wrap">
                        <blockquote>"Nichts auf der Welt ist so gerecht verteilt wie der Verstand. Denn jedermann ist überzeugt, dass er genug davon habe."</blockquote>
                        <p>René Descartes, französischer Philosoph</p>
                    </div>
                </div>

                <div class="pin purple">
                    <div class="text-wrap">
                        <blockquote>"Wenn Sie genug gespielt haben, können Sie sich jetzt <%= link_to 'einloggen', user_session_path, class: "home-link" %>"</blockquote>
                        <p>Ulrich Stindt van Well</p>
                    </div>
                </div>

                <div class="pin green">
                    <div class="text-wrap">
                        <blockquote>"Wir bekommen mit unserer Geburt das Leben geschenkt, doch viele von uns haben noch nicht einmal das Geschenkpapier abgemacht."</blockquote>
                        <p>Felice Leonardo -Leo- Buscaglia, US-amerikanischer Philosoph und Autor</p>
                    </div>
                </div>

                <div class="pin yellow">
                    <div class="text-wrap">
                        <blockquote>"Hoffnung ist der Vogel, der singt, wenn die Nacht noch dunkel ist."</blockquote>
                        <p>Rabindranath Tagore, bengalischer Philosoph und Dichter</p>
                    </div>
                </div>

                <div class="pin red">
                    <div class="text-wrap">
                        <blockquote>"Der Kluge lernt aus allem und jedem, der Normale aus seinen Erfahrungen und der Dumme weiß schon alles besser."</blockquote>
                        <p>Sokrates, griechischer Philosoph</p>
                    </div>
                </div>

                <div class="pin yellow">
                    <div class="text-wrap">
                        <blockquote>"Es ist besser, ein kleines Licht anzuzünden, als über die Dunkelheit zu schimpfen."</blockquote>
                        <p>Laozi, chinesischer Philosoph</p>
                    </div>
                </div>

                <div class="pin green">
                    <div class="text-wrap">
                        <blockquote>"Es ist kein Zeichen von Gesundheit, an eine von Grund auf kranke Gesellschaft gut angepasst zu sein."</blockquote>
                        <p>Jiddu Krishnamurti, indischer Philosoph und Theosoph</p>
                    </div>
                </div>
            </div>
        </div>