<div class='container-fluid'>
	<div class='row'>
		<div id='home-owner' class='col-md-8 column home-owner'>
			<h3>Mitteilungen</h3>
			<hr>
			<%= render partial: "posts/post", collection: @posts, as: :post %> <!-- When rendering parts of database when related by STI, be specific as shown left. -->
		</div>

		<div id='home-owner'  class='col-md-3 column home-owner'>
			<h3>Offene Rechnung(en)</h3>
			<hr>
			<%= render partial: 'open_invoices', locals: { open_invoices: @open_invoices } %>
		</div>
	</div>
</div>


