<div class='container-fluid'>
	<div class='open-postpage row'>
		<h2>All Open Invoices</h2>
		<hr>
		
		<%= render partial: 'open_invoices', locals: { open_invoices: @open_invoices } %>
	</div>



	<div>

	</div>
</div>
