<div class='container-fluid'>
	<div class='open-invoices row'>
		<div class='invoice col-md-3'>
			<p>asdf</p>
		</div>
		<div class='invoice col-md-3'>
			<p>asdf</p>
		</div>
		<div class='invoice col-md-3'>
			<p>asdf</p>
		</div>
		<div class='invoice col-md-3'>
			<p>asdf</p>
		</div>
		<div class='invoice col-md-3'>
			<p>asdf</p>
		</div>
		<div class='invoice col-md-3'>
			<p>asdf</p>
		</div>
	</div>
</div>



<div>

</div>