<div class='container-fluid'>
	<div class='row'>
		<div id='home-owner' class='col-md-8 column  home-owner'>
			<h3>Mitteilungen</h3>
			<hr>
			<%= render @posts %>
		</div>

		<div id='home-owner'  class='col-md-3 column   home-owner'>
			<h3>Offene Rechnung(en)</h3>
			<hr>
			<%= render partial: 'homeowner_open_invoices', locals: { homeowner_open_invoices: @homeowner_open_invoice } %>
		</div>
	</div>
</div>