<% @homeowner_open_invoices.each do |homeowner_open_invoice|%>
	<div class='col-md-12 homeowner-invoice '>
		<p id="homeowner-font">
			<span class='homeowner-invoice-details'>Date:</span> <%= homeowner_open_invoice.month %> <%= homeowner_open_invoice.year %>
		</p>
		<p id="homeowner-font">
			<span class='homeowner-invoice-details'>Open invoice:</span> € <%= homeowner_open_invoice.payment_due %>
		</p>

		<div class='row'>
			<div class='col-md-12 column'>
				<!-- TODO LINK TO CORRECT PATH -->
				<%= link_to 'View', finance_url(homeowner_open_invoice), class: 'btn btn-warning btn-block' %>
				<!-- TODO LINK TO CORRECT PATH -->
			</div>
		</div>
	</div>
<% end %>

	
