<% @posts.each do |post| %>
  
  <h2><%= link_to post.title, post %></h2>
  <%= truncate(post.description) %>
  <br>
  <br>
  <%= link_to 'Edit', edit_post_path(post), id: "edit_#{post.id}" %>
  <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <hr>
<% end %> 
