<h1>Posts</h1>

<% if admin_types.include?(current_user.try(:type)) %>
	<%= render 'admin' %>
<% else %>
	<%= render 'homeowner' %>
<% end %>

<table class="table table-striped table-hover">
	<thead>
		<tr>
			<th>
				Title
			</th>
			<th>
				Description
			</th>
		</tr>
	</thead>
	<tbody id="posts">
		<%= render @posts %>
	</tbody>

</table>


<div id="paginator">
	<%= paginate @posts, remote: true %>
</div>
 
