.home-owner {
	margin: 40px 20px;
}

#home-owner {
	padding: 20px;
}

#homeowner-font {
	font-size: 1em;
}

.homeowner-invoice-details {
	font-weight: 900;
}

.homeowner-invoice {
	background-color: #277cb2;
	color: white;
	margin-top: 15px;
	padding: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.post {
	background-color: #277cb2;
	color: white;
	margin: 15px;
	padding: 15px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border-color: #277cb2;
	border-style: solid;
	border-width: 1.5px;
}

.post:hover {
	font-weight: 500;
	background-color: #226d9d;
}

.post-show {
  width: 70%;
  margin: 50px 15%;
  background-color: rgba(39, 124, 178, 0.9);
 }

.post-show:hover {
  background-color: rgba(39, 124, 178, 0.9);
  
 } 

#post-date {
	font-size: 0.7em;
}

.homeowner-invoice:hover {
	background-color: #226d9d;
}


/*******CONTACT/THANK-YOU***********/ 

.thank-you {
	padding-top: 75px;
}

.contact-form {
	margin-top: 50px;
  margin-bottom: 25px;
}